.App{
  background-color: rgb(255, 255, 255);
}


.shop{
  display: flex;
  flex-direction: row;
  justify-content:left;
}

.list{
  margin-left: 10%;
}

.momo{
  border-color: blueviolet;
  border-style: solid;
  border-width: 3px;
  color: fuchsia;
  background-color: gold;
  text-align: center;
  width:16%;
  margin-left: 43%;
}