body{
  background: url('../Images/background.jpeg');
  background-position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
}


.shop{
  display: flex;
  flex-direction: row;
  justify-content:left;
}

.list{
  margin-left: 10%;
}

.momo{
  border-color: blueviolet;
  border-style: solid;
  border-width: 3px;
  color: fuchsia;
  background-color: gold;
  text-align: center;
  width:16%;
  margin-left: 43%;
}