

.cart-open {
	color: white;
	background-color: #378b8b;
	padding: 32px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 300px;
}

.cart_order{
    border-radius: 20px;
    border-width: 1px;
    background-color: white;
	height: 30px;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
    transition: 400ms;
	cursor: pointer;
    &:hover{
		background-color: #000000;
		color: white;
		border-color: white;
		transform: scale(1.2);
    }
}

.cart_empty{
	border-radius: 20px;
    border-width: 1px;
    background-color: white;
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
	height: 30px;
	width: 50%;
    transition: 400ms;
	cursor: pointer;
    &:hover{
		background-color: #000000;
		color: white;
		border-color: white;
		transform: scale(1.2);
    }
}



.cart-button {
	background: none;
	outline: none;
	border: none;
	font-weight: 600;
	cursor: pointer;
	align-self: self-start;
	padding: 0;
	color: white;
	align-self: flex-end;
	cursor: pointer;
	margin-bottom: 10%;
}

.cart-closed {
	padding: 32px;
	width: 300px;
}

.cart-closed > button {
	color: black;
}

.cart_send{
	border-radius: 20px;
    border-width: 1px;
    background-color: white;
	margin-top: 2%;
	margin-left: auto;
	margin-right: auto;
	height: 30px;
	width: 50%;
    transition: 400ms;
	cursor: pointer;
    &:hover{
		background-color: #000000;
		color: white;
		border-color: white;
		transform: scale(1.2);
    }
}

.cart_prout{
	border-radius: 20px;
    border-width: 1px;
    background-color: white;
	margin-top: 2%;
	margin-left: auto;
	margin-right: auto;
	height: 30px;
	width: 50%;
	// opacity: 0%;
    transition: 400ms;
    &:hover{
		// opacity: 100%;
		background: linear-gradient(to left, purple, indigo, blue, green, yellow, orange, red);
		color: white;
		border-color: white;
		transform: scale(1.2);
    }
}

.cart_welcome{
	text-align: start;
	margin-bottom: 0;
	margin-top: 0;
}

.test{
	position: fixed;
	top: 10%;
	width: 300px;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.test2{
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 300px;
}