.customerHome{
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(12, 182, 154, 0.671);
    border: solid 2px black;
    border-radius: 10px;
    width: 75%;
    height: 300px;
    text-align: center;
}

.customerHome_buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.customerHome_link{
    text-decoration: none;
}

.customerHome_button{
    text-decoration: none;
    color: black;
    background-color: white;
    border: solid black 1px;
    border-radius: 80px;
    font-weight: normal;
    padding:10%;
    padding-left: 20%;
    padding-right: 20%;
    transition: 400ms;
    margin-bottom: 20%;
    &:hover{
        transform: scale(1.1);
        color: white;
        border: solid white 2px;
        background-color: black;
        box-shadow: blanchedalmond 10px 10px;
    }
}

.customerHome > h2 {
    font-weight: normal;
}

.customerHome_locked{
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    border: solid 2px black;
    border-radius: 10px;
    width: 75%;
    height: 350px;
    text-align: center;
    animation: colorSwitch 2s alternate infinite;
}

.customerHome_locked > h2{
    font-size: 25px;
}

.customerHome_locked_wavyHand{
    animation: wavyHand 1s alternate infinite;   
}

@keyframes wavyHand{
    from{
      transform: rotate(-20deg);
    }
    to{
      transform: rotate(30deg);
    }
}

@keyframes colorSwitch{
    from{
        color: red;
        background-color: white;
    }
    to{
        color: white;
        background-color: red;
    }
}
