.items{
    margin: 10px;
    display: flex;
    align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	text-transform: capitalize;
	text-align: center;
}

.item-cover {
	height: 220px;
	width: 220px;
	border-radius: 20px;
	cursor: pointer;
}

.Item_Name{
	font-size: 150%;
	/* color: aqua; */
	font-family: 'Bell-Melt';
	font-weight:normal;
	margin-bottom: 0;
}

.Item_Price{
	margin-top: 0;
	font-family: 'Bell-Melt';
}

.alcoholFree{
	width:3%;
	height:auto;
}